* {
    margin: 0% auto;
    padding: 0%;
    display: none;
  }
  
  body {
    background: #020024;
    background: linear-gradient(90deg, #020024 0%, #097976 21%, #00d4ff 58%);
  }
  
  .titulo {
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    margin: 10px;
    text-align: center;
    text-decoration: underline;
  
  }
  
  .menu {
    text-align: center;
    text-transform: capitalize;
    word-spacing: 10px;
  }
  
  .menu li {
    list-style: none;
    border: 1px solid black;
    padding: 5px 100px;
    font: bold 14px verdana;
    display: inline-block;
    font-size: 20px;
    background-color: white;
    text-decoration: none;
    margin: 10px;
  }
  
  section {
    border: 5px solid black;
    margin: 100px;
  }
  
  .subtitulo {
    text-align: center;
    font-style: italic;
    font-size: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
  }
  
  p {
    text-align: center;
    font-size: 25px;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    justify-content: center;
  }
  
  img {
    height: 333px;
    width: 333px;
    padding: 20px;
    border: 10px solid black;
  }
  
  @media screen and (min-width:320px) and (max-width:750px) {
  
  
    .titulo {
      font-style: italic;
      font-family: 'Times New Roman', Times, serif;
      font-size: 50px;
      margin: 10px;
      text-align: center;
      text-decoration: underline;
    }
  
    .menu {
      text-align: center;
      text-transform: capitalize;
      word-spacing: 5px;
      display: flex;
      align-content: center;
    }
  
    .menu li {
      list-style: none;
      border: 1px solid black;
      padding: 5px 50px;
      font: bold 14px verdana;
      display: inline-block;
      font-size: 15px;
      background-color: white;
      text-decoration: none;
      margin: 5px;
    }
  
    section {
      border: 5px solid black;
      margin: 25px;
    }
  
    .subtitulo {
      text-align: center;
      font-style: italic;
      font-size: 40px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-decoration: underline;
    }
  
    p {
      text-align: center;
      font-size: 15px;
      font-style: oblique;
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-left: 30px;
      margin-right: 30px;
      padding: 5px;
    }
  
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      justify-items: center;
      align-items: center;
      justify-content: center;
    }
  
    img {
      height: 90px;
      width: 90px;
      padding: 5px;
      border: 5px solid black;
    }
  
  }
  
  
  @media screen and (min-width:751px) and (max-width:1020px) {
  
    .titulo {
      font-style: italic;
      font-family: 'Times New Roman', Times, serif;
      font-size: 100px;
      margin: 10px;
      text-align: center;
      text-decoration: underline;
    }
  
    .menu {
      text-align: center;
      text-transform: capitalize;
      word-spacing: 5px;
      display: flex;
      align-content: center;
    }
  
    .menu li {
      list-style: none;
      border: 1px solid black;
      padding: 5px 50px;
      font: bold 14px verdana;
      display: inline-block;
      font-size: 20px;
      background-color: white;
      text-decoration: none;
      margin: 5px;
    }
  
    section {
      border: 5px solid black;
      margin: 50px;
    }
  
    .subtitulo {
      text-align: center;
      font-style: italic;
      font-size: 80px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-decoration: underline;
    }
  
    p {
      text-align: center;
      font-size: 30px;
      font-style: oblique;
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-left: 30px;
      margin-right: 30px;
      padding: 5px;
    }
  
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      justify-items: center;
      align-items: center;
      justify-content: center;
    }
  
    img {
      height: 170px;
      width: 170px;
      padding: 5px;
      border: 5px solid black;
    }
  }
  
  
  @media screen and (min-width:1021px) {
  
    body {
      background: #020024;
      background: linear-gradient(90deg, #020024 0%, #097976 21%, #00d4ff 58%);
    }
  
    .titulo {
      font-style: italic;
      font-family: 'Times New Roman', Times, serif;
      font-size: 100px;
      margin: 10px;
      text-align: center;
      text-decoration: underline;
  
    }
  
    .menu {
      text-align: center;
      text-transform: capitalize;
      word-spacing: 10px;
    }
  
    .menu li {
      list-style: none;
      border: 1px solid black;
      padding: 5px 100px;
      font: bold 14px verdana;
      display: inline-block;
      font-size: 20px;
      background-color: white;
      text-decoration: none;
      margin: 10px;
    }
  
    section {
      border: 5px solid black;
      margin: 100px;
    }
  
    .subtitulo {
      text-align: center;
      font-style: italic;
      font-size: 100px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      text-decoration: underline;
    }
  
    p {
      text-align: center;
      font-size: 25px;
      font-style: oblique;
      font-family: Georgia, 'Times New Roman', Times, serif;
      margin-left: 200px;
      margin-right: 200px;
      padding: 20px;
    }
  
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      justify-items: center;
      align-items: center;
      justify-content: center;
    }
  
    img {
      height: 333px;
      width: 333px;
      padding: 20px;
      border: 10px solid black;
    }
  }